* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  margin: 0px;
  background-color: #6bacf0;
}

.wrapper {
  position: relative;
}
.custom-shape-divider-top-1678351163 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1678351163 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1678351163 .shape-fill {
  fill: #2683e6;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #2683e6;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
}

.user {
  text-align: right;
}

.container {
  margin: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.container div div {
  margin: 27px;
}

button {
  padding: 9px;
  border-radius: 5px;
  border: none;
  background-color: rgb(75, 75, 218);
  color: white;
}

button:hover {
  border: 1px solid white;
  background-color: rgb(56, 56, 221);
  transition: ease-out;
  transition-duration: 500ms;
}

img {
  max-width: 300px;
}
.details {
  margin-left: 2%;
  width: 50%;
  box-shadow: 0px 0px 10px 0px#fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
