* {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.logo {
  color: black;
}

.lr {
  background-color: #f3f3fe;
  padding: 7px;
  display: flex;
  justify-content: space-between;
}
.lr div {
  display: flex;
  margin: 10px;
}

.btn a {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: rgba(147, 137, 137, 0.5);
  padding: 20px;
  padding-bottom: 35px;
  border-radius: 10px;
  color: black;
  border: none;
  width: 100px;
  height: 35px;
  margin: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navs ul {
  list-style: none;
  display: flex;
}

.navs ul li {
  border: 1px solid black;
  margin: 7px;
  padding: 20px;
  background-color: #6bacf0;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(147, 137, 137, 0.5);
}

a {
  color: black;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
  font-size: 25px;
}
.sbar input {
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.sbar button {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  padding-bottom: 35px;
  border-radius: 10px;
  color: aliceblue;
  border: none;
  width: 100px;
  height: 35px;
  margin-left: 10px;
}
